.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;
    background-size: 100% auto;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(253, 183, 119, 1), rgba(253, 127, 44, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(253, 183, 119, 1), rgba(253, 127, 44, 1))
}

.box {
    width: 30%;
    height: 200px;

}

.box img {
    width: 100%;
    /* takes the 100 % width of its container (.box div)*/
    height: 100%;
    /* takes the 100 % height of its container (.box div)*/

    padding: 0 15;

}


/* Container needed to position the button. Adjust the width as needed */
.box {
    position: relative;
}


/* Style the button and place it in the middle of the container/image */
.box .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(253, 147, 70);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}

.box .btn:hover {
    background-color: rgb(244, 117, 26);
}

.imghover {
    position: absolute;
    top: 0;
    left: 15;
    right: 15;
    bottom: 0;
}

.imghover:hover {
    background: rgba(21, 21, 22, 0.7);
}

.box:hover .btn {
    display: block;
}

.birdname {
    font-family: 'Raleway', sans-serif;

}

.dialog {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity linear 0.2s;
    z-index: 10;
}

.overlay {
    background-color: rgba(0, 0, 0, 0);

}

.dialog:target {
    visibility: visible;
    opacity: 1;
}

.dialog-body {
    max-width: 1100px;
    min-width: 500px;

    position: relative;
    padding: 16px;
    background-color: #fff;
}

.dialog-content-header {
    color: #fb5b21;
    font-size: 1.5rem;
    font-weight: 800;
}

.dialog-content-body {
    font-size: 20px;
    text-align: left;
}

.dialog-close-btn {
    position: absolute;
    right: 20px;
    top: 10px;
}

.overlay-close {
    position: absolute;
    width: 100%;
    height: 100%;
}

td {
    text-align: left;
    padding-right: 50px;
    padding-top: 20px;
}

table {
    border: 1px;
}

.profile-pic {
    height: 130px;
    width: 150px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;


}

.profile-pic img:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
    z-index: 555555 !important;
}


/* .profile-pic span {
    display: inline-block;
    padding-top: 4.5em;
    padding-bottom: 4.5em;
} */

form input[type="file"] {
    display: none;
    cursor: pointer;
}

.upcoming-match-box{
    display: flex;
    
}



