<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DispatchServlet</servlet-name>
        <servlet-class>com.birdcompetition.controller.web.DispatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewsServlet</servlet-name>
        <servlet-class>com.birdcompetition.controller.AddNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedBackDAO</servlet-name>
        <servlet-class>com.birdcompetition.feedback.FeedBackDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeedBackServlet</servlet-name>
        <servlet-class>com.birdcompetition.controller.AddFeedBackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatchServlet</servlet-name>
        <url-pattern>/DispatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewsServlet</servlet-name>
        <url-pattern>/AddNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedBackDAO</servlet-name>
        <url-pattern>/FeedBackDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeedBackServlet</servlet-name>
        <url-pattern>/AddFeedBackServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatchServlet</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.birdcompetition.vnpay.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>com.birdcompetition.vnpay.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>com.birdcompetition.vnpay.vnpayRefund</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayquery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayrefund/*</url-pattern>
    </servlet-mapping>
</web-app>
